@media (min-width: 0px) and (max-width: 1100px) {
  /* input look */
  .input-look {
    padding: 0.3rem;
    width: 4.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }

  .button-look {
    font-size: 1.25rem;
    padding: 0.6rem 3.75rem;
    margin: 0.65rem 0.65rem;
  }

  /* positioning of inputs*/
  .text-up {
    font-size: 1.5rem;
  }

  .barrier-armor-hp-mana-container {
    right: 9%;
    top: 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2rem;
  }

  .damage-res-heal-container {
    top: 28%;
    left: 50%;
    display: grid;
    gap: 0.75rem;
  }

  .damage-input,
  .resist-input,
  .heal-input {
    width: 10rem;
  }

  /* all those little squares on bottom */

  .text-up.emoji {
    top: 1rem;
  }

  .additional-damage {
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1rem;
  }

  .burn-container,
  .cold-container,
  .poison-container,
  .bleed-container,
  .void-container {
    bottom: -5%;
  }

  .burn-container-resist,
  .cold-container-resist,
  .poison-container-resist,
  .bleed-container-resist,
  .void-container-resist {
    bottom: -16%;
  }

  :root {
    --offset: 0%;
    --burn: 20%;
    --cold: 35%;
    --poison: 50%;
    --bleed: 65%;
    --void: 80%;
  }

  /* burn damage */

  .burn-container {
    left: var(--burn);
  }

  .burn-container-resist {
    left: calc(var(--burn) + var(--offset));
  }

  /* cold damage */
  .cold-container {
    left: var(--cold);
  }
  .cold-container-resist {
    left: calc(var(--cold) + var(--offset));
  }

  /* poison damage */
  .poison-container {
    left: var(--poison);
  }
  .poison-container-resist {
    left: calc(var(--poison) + var(--offset));
  }

  /* bleed damage */
  .bleed-container {
    left: var(--bleed);
  }
  .bleed-container-resist {
    left: calc(var(--bleed) + var(--offset));
  }

  /* void damage */
  .void-container {
    left: var(--void);
  }

  .void-container-resist {
    left: calc(var(--void) + var(--offset));
  }

  /* --------------------------------------------- */
  /* buttons that show up */

  .buttons-up-div {
    top: 75%;
    left: 50%;
  }

  .barier-button,
  .armor-button,
  .hp-button,
  .mana-button {
    top: 3.5rem;
    width: 0rem;
    height: 1rem;
  }

  .barier-button {
    right: -1rem;
  }

  .hp-button {
    left: 8rem;
  }

  .mana-button {
    top: 0rem;
    width: 16rem;
  }

  /* reset buttons */
  .reset-position {
    top: 18%;
    left: 24%;
  }

  .reset-button-all,
  .reset-button-damage {
    margin: 0.2rem;
    padding: 0.6rem 0.05rem;
    width: 9rem;
    height: 2rem;
    font-size: 1rem;
  }

  /* list of all damages */
  .list-group-item {
    font-size: 1rem;
  }

  .list-group {
    top: 50%;
    left: 35%;
    width: 9rem;
  }

  .list-group.left li {
    padding: 0.1rem;
    bottom: 0.5rem;
  }

  .list-group.left {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 10rem;
    top: 1.5rem;
  }
  .list-group.right {
    height: 5rem;
    top: -2rem;
    border-radius: 0;
  }

  .full-damage-list-div {
    top: 43.5%;
    left: 24%;
  }

  .history-damage-list-div {
    top: 160%;
    left: 30%;
  }

  .full-damage-text-up {
    font-size: 1.5rem;
    bottom: 3.3rem;
    left: -4.5rem;
    width: 9rem;
  }

  .button-list-damage {
    width: 1.5rem;
    top: 7.8rem;
    left: -0.65rem;
    height: 1.2rem;
  }

  /* dice */
  .div-dice-roll {
    left: 30%;
    top: 130%;
    width: 10rem;
  }

  .roll-dice-equation {
    top: 10%;
    left: 50%;
    font-size: 1rem;
    width: 12rem;
  }

  .number-dice-roll {
    font-size: 4.5rem;
    height: 7rem;
    width: 10rem;
    padding: 0rem;
    margin: 0rem;
  }

  .input-look.trial {
    width: 1rem;
    flex: 1;
    height: auto;
  }

  .previous-number {
    font-size: 1rem;
    width: 1.1rem;
  }

  .previous-and-input-div {
    display: flex;
    height: 3rem;
    width: 10.1rem;
  }

  .number-dice-roll.sins {
    top: 11rem;
    height: 4rem;
    width: 4.5rem;
    font-size: 1rem;
  }
  .number-dice-roll.half {
    top: 11rem;
    left: 5.5rem;
    height: 4rem;
    width: 4.5rem;
    font-size: 1rem;
  }
  /* button choise */

  .buttons-choise-div {
    position: absolute;
    top: 116.8%;
    left: 60%;
  }

  .buttons-choise-look {
    font-size: 1rem;
    height: 2.5rem;
    width: 3.5rem;
    text-align: center;
  }
  .buttons-choise-look.hundred {
    width: 7.25rem;
  }
}
