/* @media (min-width: 1920px) { */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: url(../../img/table.png);
  width: 100%;
  height: 100%;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/* hide arrows from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* this one is for mozilla */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* input look */
.input-look {
  padding: 0.45rem;
  width: 13rem;
  height: 2rem;
  font-size: 1.55rem;
  border-width: 0.15rem;
  border-color: #cccccc;
  background-color: #ffffff;
  color: #000000;
  border-style: solid;
}

.button-look {
  color: white;
  font-size: 1.25rem;
  font-family: inherit;
  padding: 0.6rem 3.75rem;
  margin: 0.65rem 0.65rem;
  cursor: pointer;
  text-align: center;
  border: #474747 0.1rem solid;
}

/* positioning of inputs*/
.text-up {
  position: relative;
  font-size: 3rem;
  color: #000000;
  top: 1.5rem;
  margin-top: -1.5rem;
  text-align: center;
}

.barrier-input,
.armor-input,
.hp-input,
.damage-input,
.resist-input,
.heal-input,
.mana-input {
  position: relative;
}

.barrier-armor-hp-mana-container {
  position: absolute;
  right: 15%;
  top: 20.5%;
  display: flex;
  flex-direction: column;
}

.damage-res-heal-container {
  position: absolute;
  top: 25%;
  left: 15%;
}

/* all those little squares on bottom */
.additional-damage {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  text-align: center;
}

.burn-container,
.cold-container,
.poison-container,
.bleed-container,
.void-container {
  position: absolute;
  bottom: 2%;
  transform: translate(-50%, -50%);
}

.burn-container-resist,
.cold-container-resist,
.poison-container-resist,
.bleed-container-resist,
.void-container-resist {
  position: absolute;
  bottom: 2%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}

:root {
  --offset: 4.2%;
  --burn: 30%;
  --cold: 40%;
  --poison: 50%;
  --bleed: 60%;
  --void: 70%;
}

/* burn damage */

.burn-container {
  left: var(--burn);
}

.burn-container-resist {
  left: calc(var(--burn) + var(--offset));
}

/* cold damage */
.cold-container {
  left: var(--cold);
}
.cold-container-resist {
  left: calc(var(--cold) + var(--offset));
}

/* poison damage */
.poison-container {
  left: var(--poison);
}
.poison-container-resist {
  left: calc(var(--poison) + var(--offset));
}

/* bleed damage */
.bleed-container {
  left: var(--bleed);
}
.bleed-container-resist {
  left: calc(var(--bleed) + var(--offset));
}

/* void damage */
.void-container {
  left: var(--void);
}

.void-container-resist {
  left: calc(var(--void) + var(--offset));
}

.burn-container-resist.show,
.cold-container-resist.show,
.poison-container-resist.show,
.bleed-container-resist.show,
.void-container-resist.show {
  opacity: 1;
}
/* --------------------------------------------- */
/* buttons that show up */

.buttons-up-div {
  position: absolute;
  top: 12%;
  left: 50%;
}

.barier-button,
.armor-button,
.hp-button,
.mana-button {
  transform: translate(-50%, -50%);
  color: #ffffff;
  top: 4rem;
  width: 2rem;
  height: 1rem;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 600% 100%;
  animation: gradient 10s linear infinite;
}

.barier-button {
  right: 1rem;

  background-image: linear-gradient(
    90deg,
    #78d2af,
    #009f84,
    #45c65c,
    #01aebd,
    #c0ff38,
    #78d2af,
    #009f84
  );
}

.armor-button {
  top: 4rem;

  background-image: linear-gradient(
    90deg,
    #cacaca,
    #838383,
    #656565,
    #757575,
    #d2d2d2,
    #cacaca,
    #838383
  );
}

.hp-button {
  top: 4rem;
  left: 12rem;

  background-image: linear-gradient(
    90deg,
    #ff1b1b,
    #c70000,
    #ff2121,
    #b70000,
    #ff2121,
    #ff1b1b,
    #c70000
  );
}

.mana-button {
  top: 0rem;
  width: 26rem;

  background-image: linear-gradient(
    90deg,
    #00e1ff,
    #0095c7,
    #2164ff,
    #0debff,
    #00b2fe,
    #00e1ff,
    #0095c7
  );
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/* reset buttons */
.reset-button-all,
.reset-button-damage {
  background-color: rgb(0, 0, 0);
  padding: 0.6rem 0.05rem;
  width: 13rem;
  height: 2.5rem;
}
.reset-button-all-disclaimer {
  color: #a9a9a9;
  font-size: 0.7rem;
}

.reset-position {
  position: absolute;
  top: 15%;
  left: 6%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
/* ----------------------------------------------- */
/* list of all damages */
.list-group-item {
  border-bottom: 0.1rem solid rgb(0, 0, 0);
  list-style: none;
  display: block;
  font-size: 1.2rem;
}

.damage-list-png {
  width: 20rem;
  position: absolute;
  bottom: -14rem;
  left: -10rem;
}

.history-list-png {
  width: 20rem;
  position: absolute;
  bottom: -14rem;
  left: -10rem;
}

.list-group {
  position: absolute;
  text-align: center;
  background-color: none;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 14rem;
  border: none;
  /* overflow hide if something is out of the box  */
  overflow: hidden;
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.list-group.left li {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 0.1rem;
  bottom: 0.5rem;
  border: none;
  font-size: 1.25rem;
}

.list-group.left {
  padding-bottom: 1rem;
  height: 17rem;
  top: 1.5rem;
}
.list-group.right {
  height: 20rem;
  top: 1.5rem;
  border-radius: 0;
}

.full-damage-list-div {
  top: 45.5%;
  left: 36%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.history-damage-list-div {
  top: 46.5%;
  left: 64%;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
}

/* hide scrollbar but keep functionality */
.list-group::-webkit-scrollbar {
  display: none;
}

.button-list-damage {
  pointer-events: none;
  cursor: default;
  background-color: transparent;
  position: absolute;
  width: 4.5rem;
  top: 11rem;
  left: -0.65rem;
  border: none;
  font-size: 1.6rem;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* hide any overflow */
  text-overflow: ellipsis; /* add an ellipsis (...) to indicate truncated text */
  white-space: nowrap; /* prevent text from wrapping */
  overflow: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.button-list-damage::-webkit-scrollbar {
  display: none;
}

/* ------------------------------------------- */

/* dice */

.roll-dice-equation {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  width: 12rem;
  pointer-events: none;
  text-align: center;
}

.div-dice-roll {
  position: absolute;
  border: #000000 0.5rem solid;
  left: 50%;
  top: 42%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
}

.number-dice-roll {
  background-color: rgb(213, 113, 0);
  color: #000000;
  font-size: 10rem;
  height: 12rem;
  width: 17rem;
  padding: 0rem;
  margin: 0rem;
  text-align: center;
}

.input-look.trial {
  width: 8rem;
  flex: 1;
  height: auto;
}

.previous-number {
  background-color: #6d8f8e;
  text-align: center;
  font-size: 1.5rem;
  border: none;
  flex: 1;
  pointer-events: none;
  cursor: default;
}

.previous-and-input-div {
  display: flex;
  width: 17.05rem;
  height: 3rem;
}

.number-dice-roll.sins {
  top: 16rem;
  height: 6rem;
  width: 7.5rem;
  font-size: 2rem;
  position: absolute;
}
.number-dice-roll.half {
  top: 16rem;
  left: 9rem;
  height: 6rem;
  width: 7.5rem;
  font-size: 2.5rem;
  position: absolute;
}
/* dice button choise */

.buttons-choise-div {
  position: absolute;
  top: 28%;
  left: 1.5%;
  z-index: -2;
}

.dice4,
.dice6,
.dice8,
.dice10,
.dice12,
.dice20,
.dice100 {
  width: 7rem;
  position: relative;
  cursor: pointer;
  filter: drop-shadow(-6px 8px 4px #434343);
}
.highlight {
  filter: brightness(150%) drop-shadow(-6px 8px 4px #434343);
}
.dice6 {
  top: 4rem;
}

.dice8 {
  top: 10rem;
  right: 14rem;
}
.dice10 {
  top: 15rem;
  right: 14rem;
}

.dice12 {
  top: 21rem;
  right: 27rem;
}

.dice20 {
  top: 25rem;
  right: 26rem;
}

.dice100 {
  top: 31rem;
  right: 40rem;
}

/* -------------------------- */
.container-fluid {
  background-color: #ffffff;
  width: fit-content;
  position: absolute;
  right: 1%;
  top: 2%;
  z-index: 1;
}

.navbar-icon-emoji {
  font-size: 3rem;
}
/* } */
